<div class="jumbotron">
  <h2><%= gettext "Welcome to %{name}!", name: "Phoenix" %></h2>
  <p class="lead">A productive web framework that<br />does not compromise speed and maintainability.</p>
</div>

<div class="row marketing">

  AUTH

  <a href='/auth/facebook'>
    Login by facebook
  </a>

  <br/>
  <a href='/auth/github'>
    Login by Github
  </a>


</div>
